[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.3.0"
scipy = "==1.16.0"
pyomo = "==6.9.2"
lxml = "==6.0.0"
html5lib = "==1.1"
beautifulsoup4 = "==4.13.4"
highspy = "==1.11.0"
seaborn = "==0.13.2"
install = "*"

[dev-packages]

[requires]
python_version = "3.13"
